body{
  padding-top:70px;
  background-color: #808b96;
}

.thumbnail:hover{
  transform: scale(1.008);
}

.navbar-inverse{
  background:#2c3e50; 
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.container .jumbotron, .container-fluid .jumbotron {
   background:#ecf0f1;
color:#2c3e50;
}

